/.coveralls.yml
/.env
/.npmrc
/.nyc_output
/coverage
/dist
/docs
/guaribas.log
/guaribas.sqlite
/node_modules
/packages/default.gbui/build
/packages/default.gbui/.env
/packages/default.gbui/node_modules
/tmp
/work
/packages/default.gbdialog/bot.js
/packages/default.gbdialog/bot.ts
*.vbs.compiled
*.vbs.js
*.vbs.ts
.env
teste.sql

