# This file must be a copy of .gitignore except for the WILLSHIP commented lines below.
.coveralls.yml
.env
.npmrc
.nyc_output
coverage
# WILLSHIP dist
guaribas.log
guaribas.sqlite
node_modules
# WILLSHIP packages/default.gbui/build
tmp
work