{
  "check-coverage": true,
  "statements": 0,
  "lines": 0,
  "functions": 0,
  "branches": 0,
  "watermarks": {
    "statements": [0, 0],
    "lines": [0, 0],
    "functions": [0, 0],
    "branches": [0, 0]
  },
  "cache": true,
  "extension": [
    ".ts"
  ],
  "include": [
    "packages/**"
  ],
  "exclude": [
    "**/node_modules/**/*",
    "**/tests/**/*",
    "**/default.gbui/**/*",
    "**/line.gbui/**/*"
  ],
  "reporter": [
    "html"
  ],
  "all": true
}