language: node_js

node_js:
- lts/*

notifications:
  email: false

before_install:
- npm install --global nyc mocha typescript rimraf shx
  
install:
- npm install

before_script:
- npm run build

script:
#- npm run build-docs
#- npm run tslint
#- npm run coveralls

branches:
  only:
  - master
  - /^greenkeeper/.*$/

after_success:
#- npm run typedoc
- npm pack

deploy:
  - provider: releases
    api_key: $GITHUB_TOKEN
    file_glob: true
    file: "BotServer-*.tgz"
    skip_cleanup: true
    on:
      tags: false

  - provider: npm
    skip_cleanup: true
    email: "operations@pragmatismo.io"
    api_key: $NPM_TOKEN
    on:
      tags: false
