@media screen and (max-width: 1000px) {
    .player {
        width: 93% !important;
        height: 26% !important;
        border: 7px solid #272727;
        position: absolute;
        top: 9%;
        left: 50%;
        margin-left: -48%;
        background: url(../images/general-bot-background.jpg), WHITE;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}

@media screen and (min-width: 1000px) {
    .player {
        display: inline-block;
        width: 46% !important;
        height: 81% !important;
        border: 7px solid #272727;
        background: url(../images/general-bot-background.jpg), WHITE;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: absolute;
        left: 1%;
        top: 15%;
    }
}