body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}



/** Main Layout rules */

.App { min-height: 100vh; }

.App {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.App .body {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.body .sidebar { order: -1; }

.body .content { flex: 1; }

.body .sidebar {
    flex: 0 0 12em;
    max-width: 12em;
}

.App .header { height: 4em; }

.App .footer { height: 4em; }

/** Text */

.text-red { color: red; }