.webchat > div {
  height: 100%;
  width: 100%;
}

.webchat {
  background-color: white !important;
  left: 57%;
  right: 0%;
  top: 0;
  bottom: 0;
  overflow: auto !important;
}

@media screen and (max-width: 1000px) {
  .webchat {
    display: inline-block !important;
    width: 96% !important;
    height: 57% !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    left: 50%;
    top: 41%;

    position: absolute;
    margin-left: -48%;
  }
}

@media screen and (min-width: 1000px) {
  .webchat {
    display: inline-block !important;
    width: 50% !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    top: 1% !important;

    height: 96%;
    position: absolute;
    right: 0;
    margin-left: -8%;
    position: absolute;
    top: 0;
    bottom: 0;
    border-bottom: 4px solid #4f4f4f;
  }
}
